/** Basic config file **/

configuration {
    show-icons:         true;
    icon-theme:         "Papirus";columns: 2;
}
listview {
	columns: 2;
	lines: 7;
	scrollbar: false;
}
window {
	font: "JetBrains Mono 18";
	width: 75%;
}
@import "~/.cache/wal/colors-rofi-dark"
/* @import "~/.cache/wal/colors-rofi-light"
*/
element-icon { size: 4ch ; }
