/** Basic config file **/

configuration {
    show-icons:         true;
    icon-theme:         "Papirus";columns: 2;
}
listview {
	scrollbar: false;
}
window {
	font: "JetBrains Mono 18";
	height: 500;
	width: 400;
}
@import "~/.cache/wal/colors-rofi-dark"
/* @import "~/.cache/wal/colors-rofi-light"
*/
element-icon { size: 4ch ; }
