[Desktop Entry]
Type=Application
Name=Spotify (automatic colors)
GenericName=Music Player
Icon=spotify
Exec=spicetify watch -s %U
Terminal=false
Categories=Audio;Music;Player;AudioVideo;
StartupWMClass=spotify
